:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.text-right{
  text-align: right;
}
.input{
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width:200px
}
.input:read-only{
  background-color: #f9f9f9;
    color: #888;
}
.input:focus{
  outline: none;
    border-color: #ddd;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

